---
import HTML from "@layouts/HTML.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import { Image } from "astro:assets";
import "@fontsource-variable/geist-mono";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: {
            slug: project.data.slug,
        },
        props: {
            frontmatter: project,
        },
    }));
}

const { frontmatter } = Astro.props;
const { Content } = await render(frontmatter);

let img = undefined;
if (frontmatter.data.image) {
    const images = import.meta.glob(
        "../../assets/imgs/*.{jpg,jpeg,png,webp,avif}",
    );
    img = (await images[`../../assets/imgs/${frontmatter.data.image}`]()) as {
        default: ImageMetadata;
    };
}
---

<HTML title={frontmatter.data.title} description={frontmatter.data.description}>
    {
        img && (
            <Image
                src={img?.default}
                class="w-100"
                alt="header image"
                class="block my-4 rounded-lg"
            />
        )
    }
    <Link href="/projects">projects</Link><span class="text-accent">
        /
    </span><Link active href={`/projects/${frontmatter.data.slug}`} class="mb-0"
        >{frontmatter.data.title}</Link
    >
    <div class="flex flex-row justify-between px-0.5">
        <p class="my-0 italic op-50">{frontmatter.data.description}</p>
        <p class="op-50 italic m-0 w-max text-right text-nowrap flex items-end">
            {frontmatter.data.tags.join(" / ")}
        </p>
    </div>
    <div class="mb-4 line-height-normal">
        <Content components={{ a: Link }} />
    </div>
</HTML>

<style is:global>
    img {
        width: 100%;
        height: auto;
    }
    h2#footnote-label {
        text-transform: lowercase;
    }
    blockquote {
        padding: 0.1rem 1rem;
        background-color: var(--accent);
        margin: 0;
        border-left: 2px solid var(--accent);
    }
    blockquote * {
        color: var(--secondaryTextColor);
    }
    pre {
        padding: 0.5rem;
        border-radius: 10px;
    }
    pre,
    code {
        font-family: "Geist Mono Variable", monospace;
    }
</style>
