---
import HTML from "@layouts/HTML.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import { Image } from "astro:assets";
import "@fontsource-variable/geist-mono";
import "@styles/markdown.css";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: {
            slug: project
                .filePath!.replace(/.mdx?/, "")
                .split("/")
                .slice(2)
                .join("/"),
        },
        props: {
            frontmatter: project,
        },
    }));
}

const { frontmatter } = Astro.props;
const { Content } = await render(frontmatter);

let img = undefined;
if (frontmatter.data.image) {
    const images = import.meta.glob(
        "../../assets/imgs/*.{jpg,jpeg,png,webp,avif}",
    );
    img = (await images[`../../assets/imgs/${frontmatter.data.image}`]()) as {
        default: ImageMetadata;
    };
}
function enumerate<T>(arr: T[]): [number, T][] {
    let obj: Record<number, T> = {};
    for (let i = 0; i < arr.length; ++i) {
        obj[i] = arr[i];
    }
    return Object.entries(obj).map((e) => [Number.parseInt(e[0]), e[1]]);
}
function breadcrumbs() {
    const slug = Astro.url.pathname.replace(/\/$/).slice(1).split("/");
    const slugParts = enumerate(slug);
    return slugParts.map(([i, path]) => [...slug.slice(0, i), path].join("/"));
}
const breadcrumbLinks = breadcrumbs();
---

<HTML title={frontmatter.data.title} description={frontmatter.data.description}>
    <article class="h-entry">
        <header>
            {
                img && (
                    <Image
                        src={img?.default}
                        class="w-100"
                        alt="header image"
                        class="block my-4 rounded-lg"
                    />
                )
            }
            <div class="flex flex-row justify-between px-0.5">
                <div>
                    {
                        enumerate(breadcrumbLinks).map(([i, link]) => (
                            <>
                                <Link
                                    href={`/${link}`}
                                    active={i === breadcrumbLinks.length - 1}
                                >
                                    {i === breadcrumbLinks.length - 1
                                        ? frontmatter.data.title
                                        : link.split("/").slice(-1)}
                                </Link>
                                {i !== breadcrumbLinks.length - 1 && (
                                    <span class="text-accent"> / </span>
                                )}
                            </>
                        ))
                    }
                    <p class="my-0 italic op-50 p-summary">
                        {frontmatter.data.description}
                    </p>
                </div>
                {
                    Astro.url.pathname.slice(1).split("/").length <= 2 && (
                        <div class="self-end">
                            <p class="op-50 italic m-0 w-max text-right text-nowrap flex justify-self-end">
                                {frontmatter.data.tags.join(" / ")}
                            </p>
                            <p class="op-50 italic m-0 w-max text-right text-nowrap flex items-end justify-self-end">
                                {frontmatter.data.date}
                            </p>
                        </div>
                    )
                }
            </div>
        </header>
        <div class="mb-4 line-height-normal e-content">
            <Content components={{ a: Link }} />
        </div>
    </article>
</HTML>

<style is:global>
    img {
        width: 100%;
        height: auto;
    }
</style>
