---
import HTML from "@layouts/HTML.astro";
import Link from "@components/Link.astro";
import { posts } from "@lib/garden";
import { render } from "astro:content";
import { Image } from "astro:assets";
import dayjs from "dayjs";
import "@fontsource-variable/geist-mono";

export async function getStaticPaths() {
    return posts.map((post) => ({
        params: {
            slug: post.data.slug,
        },
        props: {
            frontmatter: post,
        },
    }));
}

const { frontmatter } = Astro.props;
const { Content } = await render(frontmatter);

let img = undefined;
if (frontmatter.data.image) {
    const images = import.meta.glob(
        "../../assets/imgs/*.{jpg,jpeg,png,webp,avif}",
    );
    img = (await images[`../../assets/imgs/${frontmatter.data.image}`]()) as {
        default: ImageMetadata;
    };
}

const pubDate = dayjs(frontmatter.data.date);
---

<HTML title={frontmatter.data.title} description={frontmatter.data.description}>
    <article class="h-entry">
        <header>
            {
                img && (
                    <Image
                        src={img?.default}
                        class="w-100"
                        alt="header image"
                        class="block my-4 rounded-lg"
                    />
                )
            }
            <Link href="/garden" active={false}>garden</Link><span
                class="text-accent"
            >
                /
            </span><Link
                active
                href={`/garden/${frontmatter.data.slug}`}
                class="mb-0 p-name">{frontmatter.data.title}</Link
            >
            <div class="flex flex-row justify-between px-0.5">
                <p class="my-0 italic op-50 p-summary">
                    {frontmatter.data.description}
                </p>
                <time
                    class="op-50 italic m-0 dt-published"
                    datetime={pubDate.toISOString()}
                >
                    {pubDate.format("MMMM DD, YYYY").toLocaleLowerCase()}
                </time>
            </div>
        </header>
        <div class="mb-4 line-height-normal e-content">
            <Content components={{ a: Link }} />
        </div>
    </article>
</HTML>

<style is:global>
    img {
        width: 100%;
        height: auto;
    }
    h2#footnote-label {
        text-transform: lowercase;
    }
    blockquote {
        padding: 0.1rem 1rem;
        background-color: var(--accent);
        margin: 0;
        border-left: 2px solid var(--accent);
    }
    blockquote * {
        color: var(--secondaryTextColor);
    }
    pre,
    code {
        font-family: "Geist Mono Variable", monospace;
    }
</style>
